# Ignore virtual environment
.venv/
venv/
env/
# Ignore environment variable file
.env

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore SQLite database
*.db
db.sqlite3

# Ignore system files like macOS .DS_Store
.DS_Store
